{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<html>
    <head>
        <title>Moonlight blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
            <div class="page-header">
                <a href="{% url 'post_new' %}" class="top-menu"><i class="fas fa-plus"></i></a>
                <a href="{% url 'users_list' %}" class="top-menu"><i class="far fa-user"></i></a>

                <h1><i class="fas fa-cloud-moon"></i><a href="/">Moonlight Blog</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            <div class="content_user container">
                <div class="row">
                    <div class="col-md-12">
                    {% block content_user %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>