h1 a {
    
    color: #087c91;
    /*color: #560087;*/
    font-family: 'Indie Flower';
}

.page-header {
    background-color: #087c91;
   /*background-color: #560087;*/
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header i {
    margin-right: 10px;
}

.container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

h1, h2, h3, h4 {
    font-family: 'Indie Flower', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form {
    width: 60%;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.post p {
    font-size: 20px;
}

.user {
    margin-bottom: 170px;
}

.user a, .user a:visited {
    color: #000000;
}

#posts-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#user-list-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%
}

#left_col{
    width: 45%;
    float: left;
}


#middle_col {
    width: 60%;
    margin-top: 0px;
    float: left;
    text-align: center;

}

#right_col{
    width: 45%;
    float: left;
}



